/* ––––––––––––––––––––––––––––––––––––––––––––

Bones CSS Boilerplate
Author: Pete Katsaboulas

––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
  height:100%;
  -webkit-font-smoothing:antialiased;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; 
}

/* ––––––––––––––––––––––––––––––––––––––––––––

TYPE

––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('../webfonts/DINNextLTPro-Bold.eot');
  src: url('../webfonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/DINNextLTPro-Bold.woff2') format('woff2'),
       url('../webfonts/DINNextLTPro-Bold.woff') format('woff'),
       url('../webfonts/DINNextLTPro-Bold.ttf') format('truetype'),
       url('../webfonts/DINNextLTPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5,p,{ 
  -webkit-text-size-adjust: none;
  text-size-adjust: none; 
}

h1{
  font-family:"DIN Next LT Pro";
  font-style:italic;
  font-size: calc(40px + (120 - 40) * ((100vw - 320px) / (1600 - 320))); 
  line-height:0.85;
  letter-spacing:-0.02em;
  text-transform:uppercase;
  margin-bottom:20px;
}
h2{
  font-family:"DIN Next LT Pro";
  font-style:italic;
  font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1600 - 320))); 
  line-height:1;
  letter-spacing:calc(-1.5px + ((-3) - (-2)) * ((100vw - 320px) / (1600 - 320)));
  text-transform:uppercase;
  margin-bottom:20px;
}
h3{
  font-family:"DIN Next LT Pro";
  font-style:italic;
  font-size:40px;
  font-size: calc(26px + (36 - 26) * ((100vw - 320px) / (1600 - 320))); 
  line-height:1;
  letter-spacing:calc(-0.75px + ((-1.25) - (-1)) * ((100vw - 320px) / (1600 - 320)));
  text-transform:uppercase;
}
h4{
  font-family:"DIN Next LT Pro";
  font-size:30px;
  letter-spacing:-1px;
  line-height:1;
  margin-bottom:30px;
}
h5{
  font-family:"DIN Next LT Pro";
  font-size:25px;
  letter-spacing:-1px;
  line-height:1;
}
p{
  font-size:17px;
  line-height:1.6;
  letter-spacing:-0.01em;
  margin-bottom:20px;
  color:$secondary;
  &:last-of-type{
    margin-bottom:0;
  }
}
li{
  position:relative;
  font-size:16px;
  line-height:1.6;
  margin-bottom:10px;
}
.bullets{
  li{
    display:block !important;
    color:$secondary;
    list-style:none;
    padding-left:30px;
    &:before{
      position:absolute;
      left:0;
      top:12px;
      content:"";
      display:block;
      width:20px;
      height:2px;
      background:$green;
    }
  }
}
a{
    text-decoration:none;
}

.text--semi-bold{
  font-weight:500;
}

.text--light{
  color:white;
  p{
    color:rgba(255,255,255,0.8);
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––

UTILITY

––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex{
  display:flex;
}
.flex-right{
    display:flex;
    justify-content: flex-end;
}
.flex-v{
    display:flex;
    align-items:center;
}
.flex-h{
    display:flex;
    justify-content:center;
}
.flex-b{
  display:flex;
  justify-content: space-between;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}
.align-left{
	text-align:left;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

.pad-120{
	padding:120px 0;

}
.pad-90{
	padding:90px 0;
	
}
.pad-60{
	padding:60px 0;
	
}
.pad-30{
	padding:30px 0;
	
}

.pad-top-60{
  padding-top:40px !important;
}


.margin-top-50{
  margin-top:50px !important;
}


.margin-bottom-30{
  margin-bottom:30px !important;
}
.margin-bottom-40{
  margin-bottom:40px !important;
}
.margin-bottom-50{
  margin-bottom:50px !important;
}
/* ––––––––––––––––––––––––––––––––––––––––––––

GRID

––––––––––––––––––––––––––––––––––––––––––– */
.container{
  position:relative;
  width:100%;
  max-width:1280px;
  margin:0 auto;
  //padding:0 20px;
}
.container-med{
    position:relative;
    width:100%;
    max-width:960px;
    margin:0 auto;
}
.container-small{
    position:relative;
    width:100%;
    max-width:800px;
    margin:0 auto;
}

.row {
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.row:after {
  clear: both;
}
.col-1{
  position:relative;
  width:100%;
}
.col-1-2{
  position:relative;
  width:50%;
  float:left;
}
.col-1-3{
  position:relative;
  width:33.333333%;
  float:left;
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.col-1-4{
  position:relative;
  width:25%;
  float:left;
  &.has-gutter{
    width:23.5%;
    margin-right:2%;
    &:last-child{
      margin-right:0;
    }
  }
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.col-1-5{
  position:relative;
  width:20%;
  float:left;
  &.has-gutter{
    width:18.4%;
    margin-right:2%;
    &:last-child{
      margin-right:0;
    }
  }
}
.col-1-6{
  position:relative;
  width:16.666666%;
  float:left;
  &.has-gutter{
    width:15%;
    margin-right:2%;
    &:last-child{
      margin-right:0;
    }
  }
}


.col-1-25{
  position:relative;
  width:25%;
  float:left;

}
.col-1-75{
  position:relative;
  width:75%;
  float:left;
}


.bg--light-gray{
  background:#f6f6f6;
}







