body{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:$primary;
}
main{
	overflow:hidden;
}
// ———————————————————————————————
// BUTTONS
// ————————————————————————————–——
.btn-group{
	.btn{
		margin:0 5px;
	}
}
.btn{
	position:relative;
	span{
		position:relative;
		display:block;
		@include transition(transform 0.6s $easeOutExpo !important);
		&:after{
			display:block;
			content:attr(data-text);
		}
	}
	&:hover{
		&.btn-50 span{
      @include transform(translateY(-50px) !important);
		}
		&.btn-40 span{
      @include transform(translateY(-40px) !important);
		}
	}
}
.btn_inner{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.btn--skewed{
	overflow:visible !important;
	position:relative;
	background:transparent !important;
	&:before{
		content:"";
		position:absolute;
		display:block;
		left:0;
		width:100%;
		height:100%;
		background:$orange;
		@include transform(skew(-34deg));
		border-radius:6px 0 6px 0;
	}
	&.--gray{
		&:before{
			background:$secondary;
		}
	}
}
.btn--skewed_white-border{
	overflow:visible !important;
	position:relative;
	background:transparent !important;
	&:before{
		content:"";
		position:absolute;
		display:block;
		left:0;
		width:100%;
		height:100%;
		border:1px solid white;
		@include transform(skew(-34deg));
		border-radius:6px 0 6px 0;
	}
}




.apply-btn{
	display:inline-block;
	height:50px;
	width:180px;
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-weight:700;
	color:white;
	padding:0;
	border-radius:10px;
	background:$orange;
	overflow:hidden;
	
}
.primary-btn{
	display:inline-block;
	height:50px;
	width:180px;
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-weight:700;
	color:white;
	padding:0;
	border-radius:10px;
	background:$orange;
	overflow:hidden;
	
}
.primary-btn--sm{
	display:inline-block;
	height:40px;
	width:140px;
	text-align:center;
	font-size:15px;
	line-height:40px;
	font-weight:700;
	color:white;
	padding:0;
	border-radius:6px;
	background:$orange;
	overflow:hidden;
}
.primary-btn_border-white{
	display:inline-block;
	height:50px;
	width:180px;
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-weight:700;
	color:white;
	padding:0;
	border-radius:10px;
	border:1px solid white;
	overflow:hidden;
}
/*
.secondary-btn{
	display:inline-block;
	height:40px;
	width:140px;
	text-align:center;
	font-size:14px;
	line-height:40px;
	font-weight:700;
	color:white;
	padding:0;
	border-radius:10px;
	background:$orange;
	overflow:hidden;
}
*/
.secondary-btn{
	display:inline-block;
	height:40px;
	width:120px;
	text-align:center;
	font-size:14px;
	line-height:40px;
	font-weight:700;
	padding:0;
	border-radius:10px;
	background:white;
	color:$orange;
	box-shadow:0 1px 4px 0 rgba(0,0,0,0.2);
	overflow:hidden;
}
// ———————————————————————————————
// HEADER
// ————————————————————————————–——


html[data-direction="down"] header {
  //transform: translate3d(0,-90px,0);
}


header{
	position:fixed;
	z-index:999;
	top:0;
	width:100%;
	height:90px;
	@include transition(all 1s $easeOutExpo);
	&.down{
		transform: translate3d(0,-90px,0);
	}
	&.active{
		background:white;
		box-shadow:0 0 6px 0 rgba(0,0,0,0.3);
		.logo-header{
			#logo{
				fill:$orange;
			}
		}
		.phone-header{
			a{
				color:$primary;
			}
		}
	}
	.logo-header{
		//z-index: 1020;
		display:flex;
		align-items:center;
		position:absolute;
		top:0;
		left:0;
		height:90px;
		padding:20px 40px;
		svg{
			width:120px;
		}
		#logo{
			@include transition(fill 0.6s $easeOutExpo);	
		}
	}
	.apply-header{
		position:absolute;
		height:90px;
		right:114px;
		top:0;
		.apply-header_col{
			margin-right:40px;
		}
	}
	.phone-header{
		float:left;
		font-size:18px;
		line-height:90px;
		font-weight:700;
		a{
			color:white;
		}
		i{
			font-size:24px;
			vertical-align:-2.5px;
			margin-right:5px;
		}
	}
}
.nav-btn {
  position: absolute;
  z-index: 1020;
  top: 37px;
  right:40px;
  height: 19px;
  cursor: pointer;
  p{
  	font-family:"DIN Next LT Pro";
    font-style:italic;
	  font-size:13px;
	  letter-spacing:1px;
	  text-transform:uppercase;
	  color:white;
	  margin:0;
  }
  .nav-btn_inner{
  	position:relative;
  	width: 28px;
  	height: 19px;
  	margin-right:10px;
  }
  &.active{
  	p{
  		color:$primary;
  	}
	  span {
		  background: $primary;
		}
  }
  span {
	  height: 3px;
	  width: 28px;
	  background: white;
	  position: absolute;
	  z-index: 4;
	  display: block;
	  -webkit-backface-visibility: hidden;
	  @include transform(rotate(0));
	  @include transition(all 0.4s $easeOutExpo);
	  &:nth-child(1) {
		  top: 0;
		}
		&:nth-child(2) {
		  top: 8px;
		}
		&:nth-child(3) {
		  bottom: 0;
		}
	}
	&.open{
		span{
			&:nth-child(1) {
			  top: 8px;
			  @include transform(rotate(-45deg));
			}
			&:nth-child(2) {
			  opacity: 0;
			}
			&:nth-child(3) {
			  bottom: 8px;
			  @include transform(rotate(45deg));
			}
		}
	}
}

#site-nav{
	display:none;
	z-index: 1000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(35,31,32,0.98);
	.site-nav_inner-menus_menu, li{
		@include opacity(0);
		@for $i from 1 through 10 {
	    &:nth-child(#{$i}) {
	    	@include transform(translateY(30px * $i));
	    	@include transition(transform 1.2s (0.1s * $i) $easeOutExpo, opacity 1.2s (0.1s * $i) $easeOutExpo);
	    }
	  }
	}
	&.active{
		.site-nav_inner-menus_menu, li{
			@include opacity(1);
		  @include transform(translateY(0));
		}
	}
}
.site-nav_inner{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:white;
}
.site-nav_inner-menus{
	
}
.site-nav_inner-menus_menu{
	margin-right:60px;
	padding-right:60px;
	border-right:1px solid rgba(255,255,255,0.2);
	&:last-child{
		margin-right:0;
		padding-right:0;
		border-right:none;
	}
	h5{
		font-size:35px;
		margin-bottom:20px;
		margin-top:35px;
		&:first-of-type{
			margin-top:0;
		}
	}
	li{
		position:relative;
		display:block;
		height:22px;
		font-size:20px;
		line-height:22px;
		margin-bottom:15px;
		overflow:hidden;
		&:last-child{
			margin-bottom:0;
		}
		a{
			display:inline-block;
			height:22px;
			color:rgba(255,255,255,0.6);
			@include transition(color 0.8s $easeOutExpo);
			span{
				display:inline-block;
				@include transition(all 0.6s $easeOutExpo !important);
				&:after{
					display:block;
					content:attr(data-text);
					color:$orange;
				}
			}
			&:hover{
				span{
					color:rgba(255,255,255,0);
		      @include transform(translateY(-22px) !important);
				}
			}
		}
		&.social-link{
			a{
				margin-left:28px;
			}
		}
	}
	i{
		position:absolute;
		top:1px;
		width:22px;
		text-align:center;
	}
}

@media(max-width:768px){
	header{
		.logo-header{
			padding:20px 20px;
			svg{
				width:96px;
			}
		}
		.apply-header{
			right:55px;
			.apply-header_col{
				margin-right:15px;
			}
		}
		.phone-header{
			span{
				display:none;
			}
		}
	}
	.nav-btn{
		right:20px;
		p{
			display:none;
		}
		.nav-btn_inner{
			margin-right:0;
		}
	}
	.apply-btn{
		//display:inline-block;
		//height:44px;
		//width:auto;
		//text-align:center;
		//font-size:16px;
		//line-height:44px;
		//padding:0 25px;
	}
	.primary-btn{
		//height:44px;
		//width:auto;
		//font-size:16px;
		//line-height:44px;
		//padding:0 25px;
	}
	.primary-btn_border-white{
		//height:44px;
		//width:auto;
		//font-size:16px;
		//line-height:44px;
		//padding:0 25px;
	}
	#site-nav{
		.row{
			display:block;
		}
		
	}
	.site-nav_inner{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow:scroll;
		padding:30px 20px 90px 20px;
	}
	.site-nav_inner-menus_menu{
		margin-right:0;
		padding-right:0;
		border-right:none;
		margin-top:30px;
		h5{
			font-size:30px;
			margin-bottom:15px;
			margin-top:30px;
			&:first-of-type{
				//margin-top:0;
			}
		}
		li{
			position:relative;
			display:block;
			height:20px;
			font-size:18px;
			line-height:20px;
			margin-bottom:15px;
			overflow:hidden;
			&:last-child{
				margin-bottom:0;
			}
			a{
				display:block;
				height:20px;
				span{
					&:after{
						display:block;
						content:"";
						color:$orange;
					}
				}
				&:hover{
					span{
						color:rgba(255,255,255,0.6);
			      @include transform(translateY(0) !important);
					}
				}
			}
			&.social-link{
				a{
					margin-left:28px;
				}
			}
		}
		i{
			position:absolute;
			top:1px;
			width:22px;
			text-align:center;
		}
	}

}

@media(max-width:480px){
	header{
		.logo-header{
			padding:20px 15px;
			svg{
				width:96px;
			}
		}
		.apply-header{
			right:50px;
			.apply-header_col{
				margin-right:8px;
			}
		}
		.phone-header{
			span{
				display:none;
			}
		}
	}
	.nav-btn{
		right:15px;
	}
	.apply-btn{
		width:120px;
		//display:inline-block;
		//height:44px;
		//width:auto;
		//text-align:center;
		font-size:15px;
		//line-height:44px;
		//padding:0 12px;
	}
	.primary-btn{
		width:120px;
		//height:44px;
		//width:auto;
		font-size:15px;
		//line-height:44px;
		//padding:0 12px;
	}
	.primary-btn_border-white{
		height:44px;
		width:auto;
		font-size:15px;
		line-height:44px;
		padding:0 12px;
	}
	.secondary-btn{
		width:auto;
		text-align:center;
		font-size:14px;
		line-height:40px;
		padding:0 20px;
	}
}


#video-overlay{
	display:none;
	z-index: 1100;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(35,31,32,0.98);
}
// ———————————————————————————————
// HERO
// ————————————————————————————–——
.hero{
	z-index:0;
	position:relative;
	background:$primary;
	.scroll-cue{
		z-index:20;
		display:flex;
		justify-content: center;
		position:absolute;
		bottom:-60px;
		left:50%;
		height:120px;
		font-family:"DIN Next LT Pro";
    font-style:italic;
	  font-size:13px;
	  letter-spacing:1px;
	  text-transform:uppercase;
	  color:white;
	  @include transition(all 1s $easeOutExpo);
	  span{
	  	position:absolute;
	  	display:block;
	  	margin-top:-30px;
	  }
	  &:after{
	  	position:relative;
	  	display:block;
	  	content:"";
	  	width:1px;
	  	height:120px;
	  	background:$green;
	  	@include transition(all 1s 0.2s $easeOutExpo);
	  }
	  &.active{
	    @include transform(translateY(-30px));
	    @include opacity(0);
	    &:after{
	      height:0;
	    }
	  }
	}
	.hero-copy{
		text-align:center;
		z-index:20;
		position:absolute;
		top:0;
		width:100%;
		height:100%;
		color:white;
	}
	img{
		display:block;
		width:100%;
		height:auto;
	}
	.hero-video{
		position:relative;
		width:100%;
		height:calc(100vh - 60px);
		background:#000;
		overflow:hidden;
		will-change: transform;
		@include transition(transform 1.2s $easeOutExpo);
		video{
			position:absolute;
			top:-10px;
			left:0;
			width:100%;
			height:102%;
			object-fit: cover;
			object-position: center;
			@include opacity(0.7);
		}
	}
}
// ———————————————————————————————
// DRIVER OPTIONS
// ————————————————————————————–——
.driver-options{
	z-index:2;
	position:relative;
	padding:150px 0;
	overflow:hidden;
	h2{
    font-size: 12vw;
    white-space: nowrap;
    letter-spacing:-0.4vw;
    margin-bottom:60px;
    will-change: transform;
    @include transition(transform 1.2s $easeOutExpo);
	}
	p{
		display:block;
		margin-top:0;
	}
	.driver-options-trucks{
		margin-top:-120px;
	}
	.row{
		display:flex;
	}
	.col-1-3{
		position:relative;
		flex:1;
		float:none;
		margin-right:30px;
		&:last-child{
			margin-right:0;
		}
		.col-1-3_inner{
			flex:1;
			position:relative;
			height:100%;
			width:100%;
			background:white;
			border-radius:10px;
			padding:50px 0;
			box-shadow:0 5px 15px 0 rgba(0,0,0,0.2);
			object-fit: cover;
		}
	}
	h3{
	  margin-bottom:20px;
	}
	.driver-options_inner{
		padding:0 50px;
		margin-bottom:170px;
	}
	.driver-options_footer{
		position:absolute;
		bottom:50px;
		width:100%;
		height:120px;
		overflow:hidden;
		a{
			z-index:2;
			position:absolute;
			right:50px;
		}
	}
	.driver-options_footer-image{
		position:absolute;
		left:-100px;
		width:90%;
		height:120px;
		@include transform(skew(34deg));
		background:$primary;
		overflow:hidden;
		&:after{
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:white;
		}
		img{
			display:block;
			@include transform(skew(-34deg));
			width:100%;
			height:100%;
			object-fit: cover;
			object-position: center;
			margin-left:50px;
		}
	}
}

@media(max-width:768px){
	.driver-options{
		padding:40px 20px;
		.row{
			display:block;
		}
		.col-1-3{
			width:100%;
			float:none;
			margin:0 0 20px 0;
			.col-1-3_inner{
				flex:1;
				position:relative;
				height:100%;
				width:100%;
				background:white;
				border-radius:10px;
				padding:20px 0;
				box-shadow:0 5px 15px 0 rgba(0,0,0,0.2);
				object-fit: cover;
			}
		}
		h3{
		  margin-bottom:10px;
		}
		.driver-options_inner{
			padding:0 20px;
			margin-bottom:100px;
			p{
				font-size:15px;
			}
		}
		.driver-options_footer-image{
			width:100%;
			height:90px;
		}
		.driver-options_footer{
			position:absolute;
			bottom:20px;
			width:100%;
			height:90px;
			overflow:hidden;
			a{
				z-index:2;
				position:absolute;
				right:20px;
			}
		}
	}

}
// ———————————————————————————————
// WHY NOVA
// ————————————————————————————–——
.why-nova{
	z-index:0;
	position:relative;
	padding-bottom:150px;
	.col-1-2{
    &:last-child{
    	margin-top:12%;
    	max-width:600px;
    }
	}
	.why-nova_image{
		position:relative;
		.why-nova_image-inner{
			&:after{
				content:"";
				display:block;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:white;
				clip-path: polygon(0 0, 100% 0, 64.2% 100%, 0 100%);
			}
      img{
      	position:relative;
				display:block;
				width:100%;
				height:auto;
				clip-path: polygon(0 0, 100% 0, 64.2% 100%, 0 100%);
			}
		}
		.pattern{
			right:26.6%;
	    bottom:calc(-13.99vw - 0px);
			@include transform(scale(0.8) skew(-34deg));
			.row:first-child{
				span:first-child{
					background:transparent;
				}
			}
		}
	}
	.why-nova_bullets{
		ul{
			&:last-child{
				margin-left:90px;
			}
		}
	}
}

@media(max-width:768px){

	.why-nova{
		padding-bottom:60px;
		.col-1-2{
			width:100%;
			float:none;
			&:first-child{
				max-width:300px;
			}
	    &:last-child{
	    	margin-top:12%;
	    	max-width:600px;
	    }
		}
		.why-nova_image{
			position:relative;
			.why-nova_image-inner{
				&:after{
					content:"";
					display:block;
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background:white;
					clip-path: polygon(0 0, 100% 0, 64.2% 100%, 0 100%);
				}
	      img{
	      	position:relative;
					display:block;
					width:100%;
					height:auto;
					clip-path: polygon(0 0, 100% 0, 64.2% 100%, 0 100%);
				}
			}
			.pattern{
				right:28%;
		    bottom:calc(-13.7vw - 0px);
				@include transform(scale(1) skew(-34deg));
				.row:first-child{
					span:first-child{
						background:transparent;
					}
				}
			}
		}
		.why-nova_text{
			padding:30px 20px 0 20px;
			.row{
				display:block;
			}
			h4{
				font-size:25px;
			}
			p{
				font-size:15px;
			}
		}
		.why-nova_bullets{
			ul.bullets{
				display:block;
				width:100%;
				&:last-child{
					margin-left:0;
				}
				li{
					display:block;
				}
			}
		}
	}
}
// ———————————————————————————————
// EQUIPMENT
// ————————————————————————————–——
.equipment{
	z-index:1;
	position:relative;
	width:100%;
	height: calc(100vw * (9/16));
  max-height: calc(100vh - 180px);
  min-height:800px;
	overflow:hidden;
	color:white;
	.equipment_text{
		z-index:1;
		position:absolute;
		left:0;
		bottom:120px;
		bottom:calc(30px + (90 - 30) * ((100vw - 320px) / (1920 - 320))); 
		width:100%;
		text-align:center;
		p{
			color:white;
			font-size:24px;
		}
		.primary-btn{
			margin-top:30px;
		}
	}
	.equipment_image{
		z-index:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		img{
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			object-fit: cover;
			object-position: bottom center;
			@include opacity(1);
		}
	}
	.pattern{
			right:-3.8vw;
	    bottom:-16vw;
			@include transform(scale(0.9) skew(-34deg));
			.row:last-child{
				span{
					background:transparent;
				}
			}
		}
}

@media(max-width:600px){

	.equipment{
		z-index:1;
		position:relative;
		width:100%;
		height: calc(100vw * (9/16));
	  max-height: calc(100vh - 180px);
	  min-height:100vh;
		overflow:hidden;
		color:white;
		.equipment_text{
			padding:0 20px;
			p{
				font-size:15px;
			}
			.primary-btn{
				margin-top:20px;
			}
		}
	}

}

// ———————————————————————————————
// READY TO GET STARTED
// ————————————————————————————–——
.ready-to-get-started{
	z-index:1;
	position:relative;
	width:100%;
	height:70vh;
	padding:0 20px;
	overflow:hidden;
	@media(max-width:1600px){
		padding:90px 0;
	}
	.ready-to-get-started_text{
		z-index:1;
		position:absolute;
		text-align:center;
		h1{
			z-index:0;
			position:relative;
		}
		p{
			font-size:22px;
			color:$primary;
			margin-top:30px;
		}
		.primary-btn{
			margin-top:30px;
		}
		img{
			z-index:1;
			position:relative;
			width:100%;
			max-width:750px;
			margin:-2.5vw auto 0 auto;
		}
	}
	.pattern{
		z-index:0;
		position:relative;
		top:0;
		left:0;
		@include transform( translate3d(0,0,0) scale(1.8) skew(-34deg));
		span{
			display:block;
			height:14vw;
			width:4.6vw;
			background:#e9e8e8;
			margin:0 2.3vw;
		}
		@media(min-width:600px){
			@include transform( translate3d(0,0,0) scale(1.6) skew(-34deg));
		}	
		@media(min-width:768px){
			@include transform( translate3d(0,0,0) scale(1.4) skew(-34deg));
		}	
		@media(min-width:900px){
			@include transform( translate3d(0,0,0) scale(1.2) skew(-34deg));
		}	
		@media(min-width:1280px){
			@include transform( translate3d(0,0,0) scale(1) skew(-34deg));
		}	
		@media(min-width:1440px){
			@include transform( translate3d(0,0,0) scale(0.8) skew(-34deg));
		}	
		@media(min-width:1600px){
			@include transform( translate3d(0,0,0) scale(0.7) skew(-34deg));
		}	
		@media(min-width:1920px){
			@include transform( translate3d(0,0,0) scale(0.6) skew(-34deg));
		}	
	}
}


@media(max-width:768px){
	.ready-to-get-started{
		z-index:1;
		position:relative;
		width:100%;
		height:70vh;
		padding:0 20px;
		.ready-to-get-started_text{
			h1{
				z-index:0;
				position:relative;
			}
			p{
				font-size:15px;
				color:$primary;
				margin-top:30px;
			}
			.primary-btn{
				margin-top:20px;
			}
			img{
				z-index:1;
				position:relative;
				width:100%;
				max-width:750px;
				margin:-2.5vw auto 0 auto;
			}
		}
	}
}

// ———————————————————————————————
// NOVA BLOG
// ————————————————————————————–——
.nova-blog{
	z-index:2;
	position:relative;
	padding:150px 0 160px 0;
	background:$secondary;
	.nova-blog_wrap{
		position:relative;
		width:100%;
		max-width:960px;
		margin:0 auto;
	}
	.slick-list{
		width:100%;
		overflow:visible;
	}
	.slick-track{
	  display: flex !important;
	}
	.slick-slide{
	  height: inherit !important;
	}
	.slick-slide, .slick-slide.show{
		opacity:0.3 !important;
	}
	.slick-slide.slick-active{
    opacity:1 !important;
	}
	.nova-blog_text{
		margin-bottom:60px;
		color:white;
	}
	.row{
		display:flex;
	}
	.col-1-3{
		position:relative;
		margin-right:30px;
		.col-1-3_inner{
			position:relative;
			height:100%;
			width:100%;
			background:white;
			border-radius:10px;
			padding:50px 0;
			box-shadow:0 5px 15px 0 rgba(0,0,0,0.2);
			object-fit: cover;
		}
	}
	.nova-blog_date{
		display:block;
		font-size:12px;
		font-weight:700;
		letter-spacing:2px;
		text-transform: uppercase;
		font-style:italic;
		color:$green;
		margin-bottom: 15px;
	}
	h4{
	  margin-bottom:20px;
	}
	.primary-btn{
		margin-top:60px;
	}
	.nova-blog_inner{
		width:50%;
		padding:0 50px;
	}
	.nova-blog_footer{
		position:relative;
		width:50%;
		height:180px;
		overflow:hidden;
		a{
			z-index:2;
			position:absolute;
			right:50px;
		}
	}
	.nova-blog_footer-image{
		position:absolute;
		left:-100px;
		width:90%;
		height:180px;
		@include transform(skew(34deg));
		background:$primary;
		overflow:hidden;
		&:after{
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:white;
		}
		img{
			display:block;
			@include transform(skew(-34deg));
			width:100%;
			height:100%;
			object-fit: cover;
			object-position: center;
			margin-left:55px;
		}
	}
}

.slider-nav{
	margin-top:30px;
	color:white;
	font-size:22px;
	.slick-disabled{
		@include opacity(0.3);
	}
	.prev-btn, .next-btn, .dots{
		display:inline-block;
	}
	.prev-btn{
    
	}
	.dots{
		margin:0 120px;
		li{
			display:inline-block;
			margin:0 5px;
			@include opacity(0.3);
			&:first-child{
				@include opacity(1);
			}
			span{
				display:block;
				width:10px;
				height:10px;
				border-radius:100%;
				background:white;
			}
		}
	}
}


@media(max-width:600px){
	.nova-blog{
		z-index:2;
		position:relative;
		padding:60px 20px 60px 20px;
		.nova-blog_wrap{
			position:relative;
			width:100%;
			margin:0 auto;
		}
		.slick-list{
			width:100%;
			overflow:hidden;
		}
		.nova-blog_text{
			margin-bottom:30px;
			color:white;
		}
		h4{
		  margin-bottom:10px;
		}
		p{
			font-size:15px;
			margin-bottom:0;
		}
		.primary-btn{
			margin-top:30px;
		}
		.row{
			display:flex;
		}
		.col-1-3{
			position:relative;
			margin-right:0;
			.col-1-3_inner{
				display:block;
				position:relative;
				height:100%;
				width:100%;
				background:white;
				border-radius:10px;
				padding:20px 0;
				box-shadow:0 5px 15px 0 rgba(0,0,0,0.2);
				object-fit: cover;
			}
		}
		.nova-blog_inner{
			width:100%;
			padding:0 20px;
			h4{
				font-size:25px;
			}
		}
		.nova-blog_footer{
			position:relative;
			width:100%;
			height:90px;
			margin-top:20px;
			overflow:hidden;
			a{
				z-index:2;
				position:absolute;
				right:20px;
			}
		}
		.nova-blog_footer-image{
			position:absolute;
			left:-100px;
			width:100%;
			height:90px;
			@include transform(skew(34deg));
			background:$primary;
			overflow:hidden;
			&:after{
				content:"";
				display:block;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:white;
			}
			img{
				display:block;
				@include transform(skew(-34deg));
				width:100%;
				height:100%;
				object-fit: cover;
				object-position: center;
				margin-left:55px;
			}
		}
	}
	.slider-nav{
		margin-top:20px;
		.dots{
			margin:-5px 60px 0 60px;
			li{
				margin:0 4px;
				span{
					width:8px;
					height:8px;
				}
			}
		}
	}

}
// ———————————————————————————————
// FOOTER
// ————————————————————————————–——
footer{
	background:$primary;
	color:white;
	.footer-about{
		max-width:400px;
		img{
			vertical-align:top;
		}
	}
	.footer-inner{
		display:table;
		padding:120px 0 90px 0;
		max-width:1600px;
	}
	.footer-inner_column{
		display:table-cell;
		padding:10px 60px;
		border-right:1px solid rgba(255,255,255,0.15);
		&:last-of-type{
			border-right:none;
		}
	}
	.footer-logo{
		margin-bottom:30px;
	}
	p{
		color:rgba(255,255,255,0.6);
	}
	h5{
		font-size:25px;
		margin-top:30px;
		margin-bottom:15px;
		&:first-of-type{
			margin-top:0;
		}
	}
	li{
		position:relative;
		display:block;
		height:18px;
		font-size:16px;
		line-height:18px;
		margin-bottom:10px;
		overflow:hidden;
		&:last-child{
			margin-bottom:0;
		}
		a{
			display:inline-block;
			height:18px;
			color:rgba(255,255,255,0.6);
			@include transition(color 0.8s $easeOutExpo);
			span{
				display:inline-block;
				@include transition(all 0.6s $easeOutExpo !important);
				&:after{
					display:block;
					content:attr(data-text);
					color:$orange;
				}
			}
			&:hover{
				span{
					color:rgba(255,255,255,0);
		      @include transform(translateY(-18px) !important);
				}
			}
		}
	}
	i{
		width:20px;
		text-align:center;
		margin-right:3px;
	}
	.primary-btn{
		margin-top:0;
	}
	.footer-social{
		font-size:25px;
		.fa-instagram{
			font-size:24px;
			vertical-align:-2px;
			margin-left:2px;
		}
	}
	.copyright{
		max-width:1600px;
		padding:0 60px 60px 60px;
		color:rgba(255,255,255,0.6);
	}
}


@media(max-width:768px){

	footer{
		.footer-inner{
			display:block;
			padding:60px 0 40px 0;
			max-width:1600px;
		}
		.footer-inner_column{
			display:block;
			padding:10px 20px;
			border-right:none;
			&:last-of-type{
				border-right:none;
			}
		}
		h5{
			font-size:22px;
			margin-top:30px;
			margin-bottom:15px;
			&:first-of-type{
				margin-top:0;
			}
		}
		li{
			display:block;
			font-size:15px;
			line-height:1.2;
			color:rgba(255,255,255,0.6);
			margin-top:10px;
		}
		.copyright{
			font-size:14px;
			padding:0 20px 40px 20px;
		}
	}

}
// ———————————————————————————————
// SCROLL ANIMATIONS
// ————————————————————————————–——
.scroll-in{
	@include opacity(0);
	@for $i from 1 through 20 {
    &:nth-child(#{$i}) {
    	@include transform(translateY(40px * $i));
    	@include transition(transform 1.4s (0.1s * $i) $easeOutExpo, opacity 1.4s (0.1s * $i) $easeOutExpo);
    }
  }
	h1,h2,h3,h4,p,a,li,>span{
		display:inline-block;
		@include opacity(0);
	  @for $i from 1 through 20 {
	    &:nth-child(#{$i}) {
	    	@include transform(translateY(40px * $i));
	    	@include transition(transform 1.4s (0.1s * $i) $easeOutExpo, opacity 1.4s (0.1s * $i) $easeOutExpo);
	    }
	  }
	}
	.driver-options_footer-image:after, .why-nova_image-inner:after,.page-benefits_image-inner:after, .nova-blog_footer-image:after{
		@include transition(transform 1.4s 0.25s $easeOutExpo);
	}
	&.is-inview{
		@include opacity(1);
	  @include transform(translateY(0));
	  h1,h2,h3,h4,p,a,li,span{
	  	@include opacity(1);
	    @include transform(translateY(0));
		}
		.driver-options_footer-image:after, .why-nova_image-inner:after,.page-benefits_image-inner:after, .nova-blog_footer-image:after{
			@include transform(translateX(100%));
		}
	}
}


