$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); 
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); 


$primary:#231f20; //122a4a
$secondary:#6a6a6a;
$white:#fff;
$orange:#f37021;
$green:#6eb331;




